.app{
    height: 100%;
    display: flex;
    flex-direction: column;
    >div:first-child{
        height: 200px;
        background-color: silver;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 2em
    }
    >div:nth-child(2){
        height: 1px;
        flex-grow: 1;
        background-color: rgb(91, 94, 91);
        color: white;
    }
}
.view{
    overflow-y: scroll;
    .registro{
        padding: 2px;
        margin: 1px;
        border: 1px solid #6e6d6d;
        border-radius: 2px;
        display: flex;
        >div{
            width: 20%;
            flex-grow: 0;
            flex-shrink: 0;
        }
        >div:last-child{
            flex-grow: 1;
        }
    }
}